# files
CHANGELOG.md
CONTRIBUTING.md
README.md
composer.json
composer.lock
plugins/pico_edit/config.php
google*.html
robots.txt
favicon.ico

# folders
content-sample
node_modules
vendor/twig/twig/doc
vendor/twig/twig/test
themes/default
themes/mrpapercut/public
sites
git
_archive
