html {
    min-height: 100%;
}

body {
    background: #a7cfdf;
    margin: 0 auto 1em;
    font-family: 'Open Sans';
    font-size: 1em;
	width: 100%;
	max-width: 960px;
	position: relative;

	&:before {
		background: -moz-linear-gradient(top, $blue 0%, $darkblue 100%);
		background: -webkit-linear-gradient(top, $blue 0%, $darkblue 100%);
		background: linear-gradient(to bottom, $blue 0%, $darkblue 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='$darkblue', GradientType=0 );
		content: attr(data-content);
        position: fixed;
        word-break: break-all;
        opacity: 0.25;
        overflow: hidden;
        height: 100%;
		font-size: .9em;
		top: 0;
		left: 0;
        z-index: -1;
    }
}

#header {
    width: 100%;
    position: relative;
	text-align: center;

    h1 {
		font-size: 1em;

		#logo {
			color: #fff;
			font-family: 'FFF-Forward';
			font-size: 2em;
			margin: 0 auto;
			padding: .5em;
			text-shadow: 4px 4px 0px #000, 0px 0px 2px #000;
			text-decoration: none;
		}
	}

	.subtitle {
		font-style: italic;
		color: $darkblue;
		text-shadow: 1px 1px 0px #fff, 0px 0px 2px #fff;
	}

	@include mq($from: mobile, $until: tablet) {
		h1 {
			margin-top: 1em;
		}

		.subtitle {
			display: none;
		}
	}
}

.container {
    box-shadow: 4px 4px 0px #000, 0px 0px 2px #000;
    background: #fff;
    clear: both;
    color: #444;
    margin: 0 auto 1em;
    padding: 1em;
    width: calc(100% - 2em);
    max-width: 960px;
	font-size: .9em;

    &:empty {
        display: none;
    }

    h1 {
        border-bottom: 1px solid #e5e5e5;

		@include mq($from: desktop) {
			text-indent: .5em;
		}
    }

	h3 {
		float: left;
		clear: both;
		margin-top: 0;
	}

	span {
		&.tags,
		&.date {
			font-size: .8em;
			float: right;
		}

	}

    p {
        line-height: 1.2em;
		clear: both;

		&.description {
			clear: both;
		}
    }

    a {
        color: $blue;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $darkblue;
            text-decoration: underline;
        }

        &:active,
        &:hover {
            outline: 0;
        }
    }

	.readmore {
		font-size: .8em;
	}

	&.related {
		.tags {
			font-style: italic;
			color: $orange;
			float: none;
		}
	}
}

#footer {
	font-size: .75em;
	overflow: hidden;

	.inner {
		float: left;
	}

	.icons {
		float: right;
	}

	.icon {
		text-decoration: none;
		float: right;
		position: relative;
		margin-left: 1.5em;

		&:before {
			font-family: 'FontAwesome';
			position: absolute;
			left: -1em;
		}

		&.github:before {
			content: '\f09b';
		}

		&.twitter:before {
			content: '\f099';
		}
	}
}
