{% include 'header.twig' %}
<div id="content" class="blog-post">
	<div class="container">
		{{ content }}
	</div>
</div>

{% if pages is not empty %}
<div class="container related">
	<h2>Related articles for <span class="tags">{{ meta.tags|join(', ') }}</span></h2>
	<ul>
	{% for page in pages if page.title and page.title != meta.title %}
		<li>
			<a href="{{ page.url }}">{{ page.title }}</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% include 'footer.twig' %}
