<footer id="footer" class="container">
	<div class="inner">
		Powered by <a href="https://picocms.org/">Pico</a>.
	</div>
	<div class="icons">Find me on:
		<a href="https://github.com/mrpapercut" class="icon github">Github</a>
		<a href="https://twitter.com/mr_papercut" class="icon twitter">Twitter</a>
	</div>
</footer>
<script>
((M,R,P,a,p,e,r,c,u,t,с,o,m) => {
	P[a]=p,
	P[p]=(...a)=>P[p].q[m](a),P[p].q=[],P[p].l=+new Date;
	a=e[u](r)[0],
	e=e[c](r);
	e[M]=!+[],
	e[R]=t;
	a[с][o](e,a)
})('async','src',window,'GoogleAnalyticsObject','ga',document,'script','createElement','getElementsByTagName','https://www.google-analytics.com/analytics.js','parentNode','insertBefore','push');
ga('create', 'UA-15360874-1', 'auto');
ga('send', 'pageview');
</script>
</body>
</html>
