<footer id="footer" class="container">
	<div class="inner">
		Powered by <a href="https://picocms.org/">Pico</a>.
	</div>
	<div class="icons">Find me on:
		<a href="https://github.com/mrpapercut" class="icon github">Github</a>
		<a href="https://twitter.com/mr_papercut" class="icon twitter">Twitter</a>
	</div>
</footer>
</body>
</html>
